.my_images{
	padding: 40px 100px 150px;
}
.header{
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h2{
	font-size: 31px;
}
.header a{
	text-decoration: none;
    color: black;
    background-color: #D9D9D9;
    padding: 11px 18px;
    border-radius: 16px;
    font-size: 19px;
    margin-top: 10px;
}
table{
	border-spacing: 0;
    width: 100%;
    padding-top: 50px;
}
th{
	text-align: left;
    padding: 0px 10px 13px 10px;
    border-bottom: 3px solid #8888;
}
td{
	border-bottom: 3px solid #8888;
    padding: 18px 10px;
}
.delete{
	background-color: #D9D9D9;
    padding: 6px 15px;
    border-radius: 15px;
    color: black;
    text-decoration: none;
}
table img{
	width: 140px;
    object-fit: contain;
    height: 140px;
}